__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
build/
dist/
*.sqlite3
*.log
media/
.env
.pytest_cache/
/.vscode/
/.idea/
node_modules/
*.sqlite
*.db
db.sqlite3
local_settings.py
/.mypy_cache/
.DS_Store
*.egg-info/
pip-wheel-metadata/
__pycache__/